<!DOCTYPE html>
<html xmlns:th="https://www.thymeleafe.org">
<head>
	<title>COVID-19</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/some_style.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="/js/jquery-3.5.1.slim.min.js"></script>	
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-sm navbar-light justify-content-between" style="background-color: #e3f2fd;">
	         <div class="collapse navbar-collapse" id="navbarNav">
	              <ul class="nav navbar-nav">
	                   <li class="nav-item active">
	                         <a th:href="@{/global}"  class="nav-link">Global</a>
	                    </li> 
	                     <li class="nav-item active">
	                         <a th:href="@{/continent}"  class="nav-link">Continent</a>
	                    </li>   
	                     <li class="nav-item active">
	                         <a th:href="@{/countries}"  class="nav-link">Countries</a>
	                    </li>        			  				            			  				     
                	</ul>
                </div>	          		
			     <form th:action="@{/countries}" method="get" class="form-inline  ml-auto">			
						<label>Table Filter</label>&nbsp;&nbsp;
						 <input id = "txtsearch" type="text" th:placeholder="search..." th:name="keyword" style ="font-style: italic; font-size:14px">
						 <button type="submit"style ="font-size:14px">GO</button>						
				 </form>	  			       
         </nav>      
        <div th:if="${message}" class="alert alert-warning alert-dismissible fade show" aria-label="Close">
	        					<button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	        					<span th:text="${message}" style = "font-weight: bold"></span>
	    </div>    
		<table class="table text-center table-responsive" id="countries">	  
	    	<thead>
				<tr>
					<th class="text-center">Country</th>
				    <th class="text-center">Total Confirmed</th>
				    <th class="text-center">Total Critical</th>
				    <th class="text-center">Total Deaths</th>
				    <th class="text-center">Total Recovered</th>
				    <th class="text-center">Death Rate</th>
				    <th class="text-center">Recovery Rate</th>
				    <th class="text-center">Cases Per Million</th>
				    <th class="text-center">Death today</th>
				    <th class="text-center">Today Confirmed</th>
				</tr>
			</thead> 
			<tbody>
		    	<tr th:each = "country : ${countries}">
		    		<td>
		    			<a th:href="@{/search/{code}(code=${country.code})}" th:text="${country.name}"></a>
		    		</td>
		    		<td>
		    			<span th:text="${country.latest_data.confirmed}" th:style="${country.latest_data.confirmed gt 300}? 'color: red' : 'color: green'"></span>		 			
		    		</td>
		    		<td>
		    			<span th:text="${country.latest_data.critical}" th:style="${country.latest_data.critical gt 100}? 'color: red' : 'color: green'"></span>		 			
		    		 </td>
		    		<td>
		    			<span th:text="${country.latest_data.deaths}" th:style="${country.latest_data.deaths gt 100}? 'color: red' : 'color: green'"></span>		 		
		    		 </td>
		    		<td>
		    			<span th:text="${country.latest_data.recovered}" th:style="${country.latest_data.recovered gt 100}? 'color: green' : 'color: green'"></span>
		    		 </td>
		    		<td>
		    			<span th:text="${country.latest_data.calculated.death_rate}" th:style="${country.latest_data.calculated.death_rate gt 5.0}? 'color: red' : 'color: green'"></span>
		    		 </td>
		 			<td> 
		 				<span th:text="${country.latest_data.calculated.recovery_rate}" th:style="${country.latest_data.calculated.recovery_rate gt 25}? 'color: green' : 'color: green'"></span>
		 			</td>
		 			<td>
		    			<span th:text="${country.latest_data.calculated.cases_per_million_population}" th:style="${country.latest_data.calculated.cases_per_million_population gt 100}? 'color: red' : 'color: green'"></span>
		    		 </td>
		 			<td>
						 <span th:text="${country.today.deaths}" th:style="${country.today.deaths gt 10}? 'color: red' : 'color: green'"></span>		 			
		 			</td> 
		 			<td>
						 <span th:text="${country.today.confirmed}" th:style="${country.today.confirmed gt 100}? 'color: red' : 'color: green'"></span>		 			
		 			</td> 
		 		</tr>
	    	</tbody> 	
	     </table> 
	     <p class="content" th:inline="text" style ="font-style: italic; font-size:14px">
				* Data Source: <a href="https://about-corona.net">ABOUT-CORONA.NET</a><br>
				* Updated at: [[${UpdatedAt}]]
		</p>
	  </div>	     
</body>
</html>