<!DOCTYPE html>
<html xmlns:th="https://www.thymeleafe.org">
<head>
	<title>COVID-19</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://kit.fontawesome.com/0fa32f6844.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://code.highcharts.com/css/highcharts.css" />
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-light justify-content-between" style="background-color: #e3f2fd;">
         <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="nav navbar-nav">
                   <li class="nav-item active">
                         <a th:href="@{/global}"  class="nav-link">Global</a>
                    </li> 
                     <li class="nav-item active">
                         <a th:href="@{/continent}"  class="nav-link">Continent</a>
                    </li>   
                     <li class="nav-item active">
                         <a th:href="@{/table}"  class="nav-link">Statistics</a>
                    </li>        			  				            			  				     
                	</ul>
                </div>
                <form th:action="@{/search}" class="form-inline  ml-auto">
		   			<input type="text" placeholder="Search ..." th:name="input">
					<button type="submit"><i class="fa fa-search"></i></button>
				</form>       
            </nav>

   <figure class="highcharts-figure">
     	<div id ="global-pie"></div>
   </figure> 
   
   <script th:inline="javascript">
	/*<![CDATA[*/
	$(function () {
		Highcharts.chart('global-pie', {
			  chart: {
			    type: 'pie'
			  },
			  title: {
			    text:  'COVID-19 Global Today'
			  },
			  tooltip: {
	                pointFormat: "{point.y:,.0f}"
	            },
	           plotOptions: {
	                pie: {
	                    allowPointSelect: true,
	                    depth: 35
	                }
	            },
			  series: [{
			    name: 'Cases',
			    colorByPoint: true,
			    data: [{
    				name: 'active',
    		     	y: 	/*[[${totalActive}]]*/ [],
    				
    		 	}, {
    		     	name: 'deaths',
    		      	y: 	/*[[${totalDeaths}]]*/ [],
    		      
    		  	}, {
    		      	name: 'recovered',
    		      	y:  /*[[${totalRecovered}]]*/[],
    		     	      			
    			}]
			  }]
			});
	})
	/*]]>*/
	</script>   
	
	
	
</body>
</html>